{% extends 'Base.html' %}
{% load static %}
{% block cart_elements %}
<link rel="stylesheet" href="/static/cartelements.css">
    <div class="cart-elements">
        <div class="cart-products">
            {% if information %}
            {{ information }}
        {% else %}
            {% for element in items %}
                <div class="item_info">
                    <label id="price">
                    {{ element.product.price }}
                    </label>
                    <button class="cart-add" onclick="quantity_modifier_add()" name="add">
                        <a href="{% url 'adding_cart' element.product.id %}">
                            <img src="/static/icons/add.png" style="height: 50px">
                        </a>
                    </button>
                    <button class="cart-minus" onclick="quantity_modifier_minus()" name="minus">
                        <a href="{% url 'minus_cart' element.product.id %}">
                            <img src="/static/icons/minus.png" style="height: 60px">
                        </a>
                    </button>

                    <input type="text" value="{{ element.quantity }}" name="element-quantity">
                    <button>
                    <a href="{% url 'del_cart' element.product.id %}">Delete</a>
                    </button>
                </div>
            <br>
        </div>
            {% endfor %}
                <br>
            <div id="final_prize">
                Sum {{ sum }}
            </div>

            <div id="btn_final">
                <a href="{% url 'order_final' %}">
                    <button>
                        Finalize
                    </button>
                </a>
            </div>

        {% endif %}
        <button>
            <a href="{% url 'all_products' %}">Continue</a>
        </button>
    </div>


{% endblock %}


