{% extends 'Base.html' %}
{% load static %}
{% block cart_elements %}
<link rel="stylesheet" href="/static/cartelements.css">

    <div class="cart-elements">
        <h2>Shopping cart</h2>
        <div class="naglowek">
            <p>Product</p>
            <p>Quantity</p>
            <p>Price</p>
        </div>
        <div class="cart-products">
            {% if information %}
            {{ information }}
        {% else %}
            {% for element in items %}
                <div class="item_info">
                    <img src="{{ element.product.image.url }}">
                    <label id="name" style="color:black">
                        {{ element.product.name }}
                    </label>

                    <div class="quantity-component" style="display: flex">
                        <button class="cart-add" onclick="quantity_modifier_add()" name="add">
                            <a href="{% url 'adding_cart' element.product.id %}">
                                +
                            </a>
                        </button>
                        <input type="text" value="{{ element.quantity }}" name="element-quantity">
                        <button class="cart-minus" onclick="quantity_modifier_minus()" name="minus">
                            <a href="{% url 'minus_cart' element.product.id %}">
                                -
                            </a>
                        </button>
                    </div>
                    <label id="price">
                        {{ element.product.price }}zł
                    </label>
                    <button id="delete">
                    <a href="{% url 'del_cart' element.product.id %}">X</a>
                    </button>
                </div>
            <br>
            {% endfor %}
                <br>
            <div class="final-continue-panel">
                <div id="btn_final">
                    <button>
                        <a href="{% url 'all_products' %}">⟵ Back to shopping</a>
                    </button>
                </div>
                <div id="final_prize">
                    <div id="order-price">
                        <button>
                            <a href="{% url 'order_final' %}">Finalize</a>
                        </button>
                        <p>Total➜</p>
                        <p id="sum">{{ sum }}zł</p>
                    </div>
                </div>
            </div>


        {% endif %}

    </div>


{% endblock %}


