{% extends 'Base.html' %}
{% load static %}
{% block cart_elements %}
<link rel="stylesheet" href="/static/cartelements.css">

    <div class="cart-elements">
        <h2>Shopping cart</h2>
        <div class="naglowek">
            Product
            Price
            Quantity
        </div>
        <div class="cart-products">
            {% if information %}
            {{ information }}
        {% else %}
            {% for element in items %}
                <div class="item_info">
                    <img src="{{ element.product.image.url }}">
                    <label id="name" style="color:black">
                        {{ element.product.name }}
                    </label>
                    <label id="price">
                        {{ element.product.price }}zł
                    </label>
                    <div class="quantity-component" style="display: flex">
                        <button class="cart-add" onclick="quantity_modifier_add()" name="add">
                            <a href="{% url 'adding_cart' element.product.id %}">
                                +
                            </a>
                        </button>
                        <input type="text" value="{{ element.quantity }}" name="element-quantity">
                        <button class="cart-minus" onclick="quantity_modifier_minus()" name="minus">
                            <a href="{% url 'minus_cart' element.product.id %}">
                                -
                            </a>
                        </button>
                    </div>

                    <button id="delete">
                    <a href="{% url 'del_cart' element.product.id %}">X</a>
                    </button>
                </div>
            <br>
            {% endfor %}
                <br>
            <div id="final_prize">
                Sum {{ sum }}
            </div>

            <div id="btn_final">
                <a href="{% url 'order_final' %}">
                    <button>
                        Finalize
                    </button>
                </a>
            </div>

        {% endif %}
        <button>
            <a href="{% url 'all_products' %}">Continue</a>
        </button>
    </div>


{% endblock %}


