
<div class="dropdown">
<p class="dropbtn">Kategorie:</p>
<br>
    <div class="dropdown_content">
        <form action="{% url 'particular_view' %}" method="post">
            {% csrf_token %}
            <div class="categories">
            {% for category in categories %}
                <input type="checkbox" value="{% url 'product_category' category %}" name="{{ category.name }}">{{ category }}
                <!-- <button>
                    <a href="{% url 'product_category' category %}">{{ category }}</a>
                </button> -->
            <br>
            {% endfor %}
            </div>
            <br>
            <br>
            <br>
            <div class="producents">
                Companies
                <br>
                {% for company in producents %}
                    <input type="checkbox" value="" name="company">{{ company }}

                <br>
                {% endfor %}
            </div>
            <button>
                Press
            </button>
        </form>

    </div>

</div>

