{% extends 'Base.html' %}
{% load static %}
<script src="{% static 'html_updates.js' %}"></script>
{% block product_detail %}
<link rel="stylesheet" href="/static/product_view.css">

    <div class="product-view">
        <div class="product-details">
            <img src="{{ product.image.url }}">
        </div>
        <div class="product-options">
            <p id="product-category">{{ product.category }}</p>
            <h2>{{ product.name }}</h2>
            <div id="description">
                <p>{{ product.description }}</p>
            </div>
              <form action="{% url 'add_cart' %}" method="POST">
                {% csrf_token%}
                <input hidden type="text" value="{{ product.id }}" name="product_id">
                <p>Cena {{ product.price }}zł</p>
                <input type="number" id="product-count" name="product-count">
                <button type="submit">
                    Add
                </button>
            </form>
            <p>State {{ product.available }}</p>
            <p>Producer {{ product.producer }}</p>
        </div>
    </div>


    <!-- <button onclick="rate_from_active()">Add a opinion</button> -->
    <div class="opinion_form">
        <form method="post">
            {% csrf_token %}
            {{ opinion_form.as_p }}
            <button type="submit">Upload comment</button>
        </form>
    </div>
        <br>

    <div class="item-opinions">
        {% for opinion in opinions %}
            <div class="comment">
                <div class="user-photo">
                    <img src="{% static 'icons/user_photo.jpg' %}" style="">
                    {{ opinion.user }}
                </div>
                <div class="user-opinion">
                    {{ opinion.description }}
                </div>
            </div>
        {% endfor %}
    </div>
    <button onclick="click()"></button>
{% endblock %}
<script>
    function click(){
        console.log("Hello world");
    }
</script>
