@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Mono:wght@300&display=swap');
/*    font-family: 'Roboto Mono', monospace;
      font-family: 'Montserrat', sans-serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Mono:wght@300&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Rubik:ital,wght@0,300;1,300&display=swap');
/*
    font-family: 'Nanum Gothic', sans-serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/*
    font-family: 'Dosis', sans-serif;
*/
.text h1{
    color: red;
    text-align: center;
}
/* part responsible for Base view of page */
.navbar{
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 0;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.others{
    margin-left: 30%;
}
.navbar button{
    font-family: 'Rubik', sans-serif;
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;
    font-weight: 600;
    background-color: inherit;
    border:none;
    color: black;
}
.navbar button:hover{
    background-color: orange;
    color: black;
    border-radius: 15px;
}

.navbar a{
    text-decoration: none;
    color: white;
}
.login_panel{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 60px;
}
.login_panel p{
    font-size: 23px;
}
#username{
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    color: #1fa0a6;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
}
/* part of main content*/
.components{
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.main-content{
    height: 600px;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    color: cornsilk;
    display: grid;
    position: absolute;
    margin-top: 140px;
}
/* part of cart*/
.cart-remove{
    max-width: 50px;
    max-height: 30px;
}

/* footer part - manage*/

.footer{
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: white;
    color: black;
    bottom: 0;
    position: fixed;
    left: 0;
    margin-top: 60px;
}

/* body part */
body{

    /*background-color: rgba(89, 164, 252, 1);
    background-image: linear-gradient(94deg, rgba(89, 164, 252, 1) 0%, rgba(41, 53, 86, 1) 89%);
    background-repeat: no-repeat;*/
    background-color: #ebe9e8;

}


/* content options*/

.all_products{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content{
    padding: 40px;
}
.text{
    color: black;
}