@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Mono:wght@300&display=swap');
/*    font-family: 'Roboto Mono', monospace;
      font-family: 'Montserrat', sans-serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
/*font-family: 'Cambay', sans-serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Jaldi&display=swap');
/*
    font-family: 'Jaldi', sans-serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
/*
    font-family: 'Jaldi', sans-serif;
 */
.all-products{
    color: cornsilk;
    font-family: 'Roboto Mono', monospace;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 350px;
    grid-gap: 20px;
    margin-left: 30px;
}

.product_control{
    display: block;
    text-align: center;
    background-color: #e3e3e3;
    border-radius: 10px;
    border: 1px solid #b1aeae;
}
.product_control img{

}
.name{
    font-weight: 600;
    font-size: 25px;
    font-family: 'Jaldi', sans-serif;
    color: #211e1e;
}
.photo{
    height: 50%;
}
.photo img{
    height: 80%;
}
.product_control button{
    font-size: 15px;
    font-family: 'Cambay', sans-serif;
    font-weight: 800;
    border-radius: 10px;
    background-color: white;
    width: 100px;
    height: 40px;
}
.product_control button:hover{
    border: 4px solid green;

}
/*
.photo{
    width: 60%;
    max-height: 50%;
    text-align: center;
}
.photo img{
    width: 60%;
    text-align: center;
}*/
button a{
    text-decoration: none;
    color: black;
    margin-top:10px;
}
.average_mark{
    color: black;
    font-weight: 400;
    font-size: 13px;

    font-family: 'Jaldi', sans-serif;

}
.price{
    color: black;
    font-weight: 600;
}

.discount_product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.products-display{
    display: grid;
    grid-template-columns: 2fr 8fr;
}

/* category panel  */
.category_panel{
    clear:both;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    border-right: 2px solid black;

}
.category_panel p{
    color: black;
    font-size: 25px;
    margin-bottom: 0;
}
.category_panel button{
    text-decoration: none;
    text-align: center;
    padding: 25px;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    width: 160px;
    background-color: inherit;
    border: none;
}

.category_panel button:hover{
    background-color: white;
    width: 100%;
    color: black;
}

.category_panel a{
    text-decoration: none;
}
.dropdown_content{
    display: block;
}
.dropdown_content:hover{
    display: block;
    color:black;
    width: 100%;
}
.dropdown_content button:hover{
    border-radius: 20px;
    background-color: coral;
}
.dropdown_content a{
    color:black;
}

/* view rate panel*/
.view-rate-panel{
    flex-direction: row;
    justify-content: center;
}
.view-rate-panel p{
    color: black;
}