@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Mono:wght@300&display=swap');
/*    font-family: 'Roboto Mono', monospace;
      font-family: 'Montserrat', sans-serif;
 */


.all-products{
    color: cornsilk;
    font-family: 'Roboto Mono', monospace;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:140px;
    grid-auto-rows: auto;
    grid-gap: 10px;
}

.product_control{
    display: block;
    text-align: center;
}
