@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Montserrat:wght@200&family=Mulish:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
/*
    font-family: 'Anaheim', sans-serif;

*/

/* product view*/
.product-view{
    color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.product-view img{
    width: 40%;
    height: 200px;
}
/* product details*/

.product-details{
    text-align: center;
}

/* product-options*/
.product-options{
    border-radius: 15px;
    border: 1px solid #211e1e;
    margin-right: 130px;
    text-align: center;
}
.product-options p{
    text-align: center;
}
.product-options button{
    text-align: center;
    margin-left: 30%;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0);
}
.product-options button:hover{
    background-color: green;
    color: white;
}
.product-options form{
    display: flex;
    flex-direction:column ;
    text-align: center;
}
/* description*/
#description{
    margin-bottom: 30px;
    color: black;
    margin-left: 20%;
}
/* item-opinions*/
.item-opinions{
    margin-bottom: 60px;
}
.comment{
    display: grid;
    grid-template-columns: 1fr 9fr;
    margin-left: 130px;
    margin-bottom: 30px;
    margin-right: 130px;
    border-bottom: 1px solid black;
    padding: 20px;
}
.comment img{
    height: 70px;
    width: 70px;
    border-radius: 60px;
}
.user-photo{
    display: block;
    color: black;
}
.user-opinion{
    margin-top: 10px;
    font-size: 15px;
    color: black;
    font-family: 'Anaheim', sans-serif;

}