@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Mono:wght@300&display=swap');
/*    font-family: 'Roboto Mono', monospace;
      font-family: 'Montserrat', sans-serif;
 */


.all-products{
    color: cornsilk;
    font-family: 'Roboto Mono', monospace;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:350px;
    grid-auto-rows: auto;
    grid-gap: 20px;
}

.product_control{
    display: block;
    text-align: center;
    background-color: #b1b1b1;
    border-radius: 10px;
}
.product_control img{

}
.name{
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.photo{
    height: 60%;
}
.photo img{
    height: 80%;
}
button{
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    background-color: black;
}
button:hover{
    background-color: red;
}
/*
.photo{
    width: 60%;
    max-height: 50%;
    text-align: center;
}
.photo img{
    width: 60%;
    text-align: center;
}*/
button a{
    text-decoration: none;
}
.average_mark{
    color: black;
    font-weight: 600;

}
.price{
    color: black;
    font-weight: 600;
}

.discount_product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}