{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/base.css">
    <title>Title</title>
</head>
<body>

    {% include 'Navbar.html' %}
    <div id="header-photo">
    <!-- <img src="/static/icons/photo.jpg" style="position: absolute"> -->
</div>
    <div class="main-content">
    {% block complain %}
    {% block listview %}
    {% block product_detail %}
    {% block register %}
    {% block login %}
        {% block cart_elements %}


        <div class="content">
    {% block category_products %}
    {% block success %}
    {% block final_order %}
    {% block detailview %}
    {% block bucket %}

    {% block products %}
                <div class="text">
                    <div class="home-desciption">
                        <h1>Hi nice to see you</h1>
                        <p>Im glad that you are here on my first online shop.
                        I hope that my service will be good for you and it will a pleasure to use my website.
                        </p>
                        <p>
                        We offer a wide offer with different clothes i think that you will find something for you.
                        </p>
                        <div class="comments">
                            <div class="image-name">
                                <img src="/static/icons/user_photo.jpg">
                                <p>Dawid Verstappen</p>
                            </div>
                            <div class="user-comment">
                                It was a pleasure to use this shop es.
                            </div>
                        </div>
                    </div>
                    <div class="home-photos">
                        <img id="main" src="/static/icons/clothes.jpg">
                        <div class="lower-photos">
                            <div class="dsa">
                                <img src="/static/icons/clothes1.jpg">
                            </div>
                            <div class="sa">
                                <img src="/static/icons/clothesbb.jpg">
                            </div>
                    </div>

                </div>
        </div>
        {% include 'product/discounted_products.html' %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
        </div>

    </div>
    <div class="footer">
        <div class="tasks">
            <div id="kdev">KAMIL-DEV</div>
            <div id="copy-rights">
                ©2023 Kamil. All rights reserved
            </div>
        </div>
        <div class="contact">
            Contact
            <div id="location">
                Location Amsterdam 38281xsa
            </div>
            <div id="hours">
                Monday - Friday 8-16
            </div>
            <div id="phone">
                Phone +48725631233
            </div>
        </div>
        <div class="social-media">
            <div id="instagram">
                Instagram
            </div>
            <div id="facebook">
                Facebook
            </div>
            <div id="twitter">
                Twitter
            </div>
        </div>
    </div>
</body>
</html>