{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/base.css">
    <title>Title</title>
</head>
<body>

    {% include 'Navbar.html' %}
    <div id="header-photo">
    <!-- <img src="/static/icons/photo.jpg" style="position: absolute"> -->
</div>
    <div class="main-content">
    {% block complain %}
    {% block listview %}
    {% block product_detail %}
    {% block register %}
    {% block login %}
        {% block cart_elements %}


        <div class="content">
    {% block category_products %}
    {% block success %}
    {% block final_order %}
    {% block detailview %}
    {% block bucket %}

    {% block products %}
                <div class="text">
                <h1>Hi nice to see you</h1>
                <p>Im glad that you are here on my first online shop,</p>
                <p>Last discount:</p>
                {% include 'product/discounted_products.html' %}
                </div>
        </div>

    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
        </div>

    </div>
    <div class="footer">
        <div class="tasks">
            <div id="kdev">KAMIL-DEV</div>
            <div id="copy-rights">
                ©2023 Kamil. All rights reserved
            </div>
        </div>
        <div class="contact">
            Contact
            <div id="location">
                Location Amsterdam 38281xsa
            </div>
            <div id="hours">
                Monday - Friday 8-16
            </div>
            <div id="phone">
                Phone +48725631233
            </div>
        </div>
        <div class="social-media">
            <div id="instagram">
                Instagram
            </div>
            <div id="facebook">
                Facebook
            </div>
            <div id="twitter">
                Twitter
            </div>
        </div>
    </div>
</body>
</html>