{% extends 'Base.html' %}
{% load static %}
{% block final_order %}
    <script src="{% static 'html_updates.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/finalize.css">
    {% for order in items %}
        {{ order.product.name }} {{ order.product.price }} {{ order.quantity }}
    {% endfor %}
    <br>

    {{ value }}

    <form method="post" id="form">
        {% csrf_token %}
        <div class="delivery-form">
            <div class="address-form">
                {{ form.as_p }}
            </div>
            <div class="card-form">
                {% for data in card_form %}
                    {{ data.label }}
                    <br>
                    {{ data }}
                    <br>
                {% endfor %}
            </div>
            <div class="payment-method">
                <label>
                  <input type="checkbox" id="card-payment" name="payment1" onclick="checkFunction()">
                    Card payment
                </label>
                <label>
                  <input type="checkbox" id="door-payment" name="payment" onclick="checkFunction1()">
                    Door payment
                </label>
            </div>
        </div>
    </form>
    <button type="submit" id="apply-btn">Apply</button>
    <h2></h2>
{% endblock %}

<script>
    const form = document.getElementById('card-form');
    /*
    form.addEventListener('submit', function (event){
        event.preventDefault();
        const formData = new FormData(form);
        fetch('{% url 'order_final_validate' %}',{
            method:"POST",
            body:formData
        })
        .then(response => response.json())
        .then(data => {
            // handle response from server
            console.log(data.status);
        })
        .catch(error => {
            // handle AJAX error
            console.error(error);
        });
    });
    */

    form.addEventListener('submit', function (event){
        event.preventDefault();
        const formData = new FormData(form);
        fetch('{% url 'order_final_validate' %}',{
            method:"POST",
            body:formData,
            success: function (body) {
                $('h2').html(body);
            }
        });
    });
</script>