{% extends 'Base.html' %}

{% load static %}
{% block final_order %}
    <script src="{% static 'html_updates.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    {% for order in items %}
        {{ order.product.name }} {{ order.product.price }} {{ order.quantity }}
    {% endfor %}
    <br>

    {{ value }}

    <form method="post" id="form" action="{% url 'order_final_validate' %}">
        {% csrf_token %}
        <div class="delivery-form">
            {{ form.as_p }}
            <label>
              <input type="checkbox" id="card-payment" name="payment1" onclick="checkFunction()">
                Card payment
            </label>
            <label>
              <input type="checkbox" id="door-payment" name="payment" onclick="checkFunction1()">
                Door payment
            </label>
            <div class="card-form">
                {{ card_form.as_p }}
            </div>
        </div>
        <button type="submit">Apply</button>
    </form>
{% endblock %}

<script>
    const form = document.getElementById('card-form');
    /*
    form.addEventListener('submit', function (event){
        event.preventDefault();
        const formData = new FormData(form);
        fetch('{% url 'order_final_validate' %}',{
            method:"POST",
            body:formData
        })
        .then(response => response.json())
        .then(data => {
            // handle response from server
            console.log(data.status);
        })
        .catch(error => {
            // handle AJAX error
            console.error(error);
        });
    });
    */

    form.addEventListener('submit', function (event){
        event.preventDefault();
        const formData = new FormData(form);
        fetch('{% url 'order_final_validate' %}',{
            method:"POST",
            body:formData,
            success: function (response){
                if (response.data.get('good')){
                    console.log("esa")
                    window.location.href = 'all/cart/finilize/success/';
                }
                else {
                    location.reload()
                }
            }
        });
        /*
        .then(response => response.json())
        .then(data => {
            console.log(data.status);
        })*/
    });
</script>